$background-black: #111;
$accent-color: #39ff14;
$sub-title-font: #ccc;
$main-text-color: #fff;
$title-font: "Permanent Marker", cursive;
$title-font-size: 40px;


// Color Palette
$color-dark-green: #012922;
$color-dark-blue: #033b51;
$color-medium-green: #0c6e4c;
$color-light-green: #8fc140;
$color-bright-green: #bad981;