.header {
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  color: $main-text-color;
  width: 100%;
  position: fixed;
  z-index: 1;
  &__logo {
    margin-right: auto;
    margin-left: 1rem;
    justify-self: flex-start;
    & a:link,
    & a:visited {
      color: $main-text-color;
      text-decoration: none;
    }
  }

  &__menu-btn {
    margin-right: 1rem;
    border-radius: 5px;
    height: 5px;
    content: "";
    width: 2rem;
    background: white;
    position: relative;
    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      content: "";
      width: 2rem;
      height: 5px;
      border-radius: 5px;
      background-color: white;
    }
    &::after {
      position: absolute;
      top: -10px;
      left: 0;
      content: "";
      width: 2rem;
      height: 5px;
      border-radius: 5px;
      background-color: white;
    }
  }

  &__list {
    display: none;
  }
  &__list-item {
    display: inline-block;
    margin-right: 2rem;
  }
  &__list-link:visited,
  &__list-link:link {
    color: $main-text-color;
    text-decoration: none;
  }
}
