.header {
  background: transparent;
  width: 100%;
  height: 10vh;
  color:$main-text-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10;


  &__logo {

    & a:link,
    & a:visited {
      color: $main-text-color;
      text-decoration: none;
    }
  }
  &__list {
    
    display: none;
    justify-content: space-between;
  }
  &__list-item {
    display: inline-block;
    margin-right: 2rem;
  }
  &__list-link:visited,
  &__list-link:link {
    color: $main-text-color;
    text-decoration: none;
  }
}