.hero {
  background: #333;
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
 &__particles {
   height: 100%;
   width: 100%;
 }

 &__contents {
   position: absolute;
 }
}
