.hero {
  background: linear-gradient( $color-dark-green, $color-medium-green,);
  color: $main-text-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;

  &::before {
    
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;

    
  }

 &__particles {
   height: 100%;
   width: 100%;
 }

 

 &__contents {
   position: absolute;
   padding: 1rem;


 }

 &__title {
   font-family: 'Permanent Marker', cursive;
   color: $main-text-color;
   font-size: 6rem;
   text-shadow: 0px 2px 10px black;
   letter-spacing: 4px;
    &-sub {
      color: $sub-title-font;
    }
  }
&__sub {
  color: $sub-title-font;
}

&__button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
 

.btn {
  background:$color-light-green;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  color: $main-text-color;
}
}
