.skills {
  padding: .5rem;
  color: $main-text-color;
  background: rgb(246, 255, 236);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  &__container {
    width: 100%;
    height: 100%;
    background: rgb(246, 255, 236);
    border-radius: 7px;

  }

  &__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 1rem 0;
  }

  &__logos img {
    height: 75px;
    margin: .5rem;
    width: auto;
  }

  &__title {
    font-family: $title-font;
    color: $color-dark-blue;
    font-size: $title-font-size;
    text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.4);

    margin: 0.5rem;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-left: 1rem;
    align-self: flex-start;
    &__item {
    }
  }
}
